<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>下稿管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="$link.contextPath/static/third/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="$link.contextPath/static/third/bootstrap-time/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="$link.contextPath/static/third/dataTables/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="$link.contextPath/static/css/showBo.css">
    <link rel="stylesheet" href="$link.contextPath/static/css/style.css">
    <link rel="stylesheet" href="$link.contextPath/static/css/previewForm.css"> <!--新添加-->
    <script src="$link.contextPath/static/third/jquery/jquery.min.js"></script>
    <script src="$link.contextPath/static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="$link.contextPath/static/third/bootstrap-time/js/bootstrap-datetimepicker.min.js"></script>
    <script src="$link.contextPath/static/third/dataTables/js/jquery.dataTables.min.js"></script>
    <script src="$link.contextPath/static/third/dataTables/js/dataTables.bootstrap.min.js"></script>
    <script src="$link.contextPath/static/js/showBo.js"></script>
    <script src="$link.contextPath/static/js/Ajax.js"></script>
    <script src="$link.contextPath/static/js/common.js"></script>
    <script src="$link.contextPath/static/js/previewForm.js"></script>  <!--新添加-->

</head>
<body class="ms">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">中央网信办新闻督查系统</a>
        </div>
    </div>
</div>
<div class="header-search">
    <form class="navbar-form navbar-right" role="search">
        <label class="control-label website-search">站内检索</label>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="/index" data-target="#collapseOne" class="news-query">新闻辅助巡查</a>
                            <input type="hidden" class="news-class-child">
                            <span class="glyphicon glyphicon-chevron-down first-menu-icon"></span>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body second-menu">
                            <h3  class="panel-title ">
                                <a href="javascript:;" data-toggle="collapse" data-target="#more-website"><span class="second-menu-icon">+</span>多网站巡查</a>
                            </h3>
                            <div id="more-website" class="collapse second-menu-list"></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="/uper/list" data-target="#collapseTwo">上稿管理</a>
                            <span class="glyphicon glyphicon-chevron-up first-menu-icon"></span>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>创建任务</p>
                            <p>管理任务</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="/uper/list" data-target="#collapseThree">下稿管理</a>
                            <span class="glyphicon glyphicon-chevron-up first-menu-icon"></span>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <!--修改-begin-->
                        <div class="panel-body second-menu">
                            <h3 class="panel-title">
                                <a href="/under/list">管理任务</a>
                            </h3>
                            <h3 class="panel-title focusCurrent">
                                <a href="javascript:;" data-toggle="tab" data-target="#create-task">创建任务</a>
                            </h3>
                        </div>
                        <!--修改-end-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main revoke-manag tab-content"  id="myTabContent">
            <div class="tab-pane fade active in" id="create-task">
                <div class="page-header">
                    <h3>创建任务</h3>
                </div>
                <form class="form-horizontal" role="form" style="width: 80%;" id="myform" method="post" action="">
                    <div class="form-group">
                        <label for="news-link" class="col-sm-2 control-label">新闻链接</label>
                        <div class="col-sm-10">
                            <input name="newsLink" type="text" class="form-control news-url" id="news-link" placeholder="请输入新闻链接">
                            <button type="button" class="btn btn-default obtain-btn">分析</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="news-title" class="col-sm-2 control-label">新闻标题</label>
                        <div class="col-sm-10">
                            <input name="newsTitle" type="text" class="form-control" id="news-title" placeholder="请输入新闻标题">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="news-content" class="col-sm-2 control-label">内容文本</label>
                        <div class="col-sm-10">
                            <textarea name="newsContent" class="form-control" rows="3" placeholder="输入内容" id="news-content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-2 control-label">上稿对象</span>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label for="select-all">
                                    <input type="checkbox" value="" id="select-all">全选
                                </label>
                            </div>
                            <label class="checkbox-inline" for="center-site">
                                <input name="centralSite " type="checkbox" value="option1" id="center-site">中央网站
                            </label>
                            <label class="checkbox-inline" for="local-site">
                                <input name="localSite" type="checkbox" value="option1" id="local-site">地方新闻网站
                            </label>
                            <label class="checkbox-inline" for="gov-site">
                                <input name="govSite" type="checkbox" value="option1" id="gov-site">商业网站
                            </label>
                            <label class="checkbox-inline" for="w-site">
                                <input name="wSite" type="checkbox" value="option1" id="w-site">微博 、微信、客户端
                            </label>
                        </div>
                        <div class="col-sm-10 col-sm-offset-2" style="margin-top: 5px;">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">自定义</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-2 control-label">下稿要求</span>
                        <div class="col-sm-10">
                            <div class="">
                                <label for="revoke-home">
                                    <input name="pc-focusNewsNum" type="checkbox" value="option1" id="revoke-home">撤出网站双首页
                                </label>
                            </div>
                            <div class="">
                                <label for="specification-source">
                                    <input name="pc-focusNews" type="checkbox" value="option1" id="specification-source">规范稿源
                                </label>
                            </div>
                            <div class="">
                                <label for="site-search">
                                    <input name="pc-focusNewsLocal" type="checkbox" value="option1" id="site-search">网站不能显示，只能通过搜索才能看到
                                </label>
                            </div>
                            <div class="clearfix" style="margin: 10px 0;">
                                <label class="control-label pull-left" for="revoke-remove">将相关新闻撤在</label>
                                <div class="col-sm-10">
                                    <input name="newsTitle" type="text" class="form-control" id="revoke-remove">
                                </div>
                            </div>
                            <div class="clearfix">
                                <label class="control-label pull-left" for="revoke-add">将相关新闻提在</label>
                                <div class="col-sm-10">
                                    <input name="newsTitle" type="text" class="form-control" id="revoke-add">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-2 control-label">时间</span>
                        <div class="col-sm-10">
                            <label class="checkbox-inline" for="date-time">
                                <input name="12hover" type="checkbox" value="option1" id="date-time">立刻
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-2 control-label">对应指令</span>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="command-number">指令编号</label>
                                <div class="col-sm-10">
                                    <input name="newsTitle" type="text" class="form-control" id="command-number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="leadership-approval">办领导审批</label>
                                <div class="col-sm-10">
                                    <input name="newsTitle" type="text" class="form-control" id="leadership-approval">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="approval" class="col-sm-2 control-label">审批人</label>
                                <div class="col-sm-4">
                                    <input name="newsTitle" type="text" class="form-control" id="approval">
                                </div>
                                <label for="give-people" class="col-sm-2 control-label">下达人员</label>
                                <div class="col-sm-4">
                                    <input name="newsTitle" type="text" class="form-control" id="give-people">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default releaseBtn">预览</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#centerSite" data-toggle="tab">中央网站</a>
                    </li>
                    <li>
                        <a href="#localSite" data-toggle="tab">地方新闻网站</a>
                    </li>
                    <li>
                        <a href="#govSite" data-toggle="tab">商业网站</a>
                    </li>
                    <li>
                        <a href="#wSite" data-toggle="tab">微博、微信、客户端</a>
                    </li>
                </ul>
                <div id="" class="tab-content">
                    <div class="tab-pane fade in active" id="centerSite">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="option1">新华网
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="option1">央视网
                            </label>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="localSite">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="option1">河北网
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="option1">本地网
                            </label>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="govSite">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="option1">河北网
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="option1">本地网
                            </label>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="wSite">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="option1">新华网
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="option1">央视网
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
    //时间日期控件
    $("#datetimepicker1").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    //提交表单
    $(document).ready(function() {
        $('#myform').previewForm();
    });
</script>
</body>
</html>